.input-box {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
   

    label {
      color: #fff;
      font-size: 0.8rem;
      margin-bottom: .5rem;
    }
  
    input {
      width: 100%;
      border-radius: .5rem;
      border: none;
      padding: 10px;
      font-size: 16px;
      outline: none;
      background-color: white;
     
    }
  }