ion-card {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
}


ion-toolbar {
  --background: linear-gradient(196deg, rgb(29, 209, 206) 0%, rgb(3, 47, 54) 100% );
  --color: rgb(237, 237, 237);
}

ion-button {
  --background: rgb(5, 165, 165);
  margin-top: 1rem;
}
