#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: white
}

#container {
  padding: 1rem;
  flex-direction: column;
  
  section {
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    border-radius: 1rem;
    align-items: center;
    display: flex;

    width: 100%;
    max-width: 400px;
    padding: 1rem;

    background: rgba(255, 255, 255, 0.25); /* Cor de fundo semi-transparente */
  
    box-shadow: 0 8px 32px 0 rgba(6, 136, 133, 0.478); /* Sombra suave */
    backdrop-filter: blur(10px); /* Desfoque para criar o efeito de vidro */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidade com alguns navegadores */
    border: 1px solid rgba(255, 255, 255, 0.108); /* Borda transparente */


    img {
      width: 50%;
    }

    form {
      padding: 1rem;
      width:100%
    }

    div > p {
      float: right;
      color: white;
      font-size: .8rem;
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }
}


ion-content {
  --background: linear-gradient( 180deg, rgb(29, 209, 206) 0%, rgb(3, 47, 54) 100% );
}
